@model IEnumerable<ApplicationCore.Domain.Vaccin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateValidite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fournisseur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeVaccin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentreVaccination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateValidite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeVaccin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CentreVaccination.ResponsableCentre)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Validite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VaccinId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VaccinId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VaccinId">Delete</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
